@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="justify-content-center py-5">
        <h1 class="display-4">Welcome</h1>
        <h3 class="display-6" style="color:#6f42c1;font-weight: 600; ">
            This tool allows you to monitor, the quality of your projects
        </h3>
    </div>


</div>

<div class="row justify-content-between md-5 py-5">
    <div class="col-md-4 ">
        <img src="~/images/undraw_Upvote_re_qn2k.svg" class="img-fluid" alt="Add_repo">
    </div>
    <div class="col-md-6  align-self-center">
        <h1 class="display-6" style="color:#6f42c1;font-weight: 700; ">
            Fill the form in the analysis tab to start to analyse of the project
        </h1>
    </div>
</div>
<div class="row justify-content-between md-5 py-5">

    <div class="col-md-6  align-self-center ">
        <h1 class="display-6" style="color:#6f42c1;font-weight: 700; ">
            Wait for the analysis to complete
        </h1>
    </div>
    <div class="col-md-4">
        <img src="~/images/undraw_data_processing_yrrv.svg" class="img-fluid" alt="Data_processing">
    </div>

</div>
<div class="row justify-content-between md-5 py-5">
    <div class="col-md-4 ">
        <img src="~/images/undraw_Analytics_re_dkf8.svg" class="img-fluid" alt="Analitics">
    </div>
    <div class="col-md-6  align-self-center">
        <h1 class="display-6" style="color:#6f42c1;font-weight: 700; ">
            Check the results of the analysis
        </h1>
    </div>
</div>