*/bin
*/obj
.dockerignore 
.env
.git 
.gitignore 
.gitattributes 
.vs
.vscode 
.idea
**/.toolstarget
build
Docker // Docker scripts and docker-compose files (in this example in 'Docker' directory, in context root level)
**/Dockerfile // Docker files
docker-compose*
.Debug
.sonarqube
.Postgres_Sonar

