@{
    ViewData["Title"] = "404 Page";
}


<div class="row justify-content-center">
    <h1 class="display-2" id="errormessage">404 - Page not found</h1>
    <div class="img-fluid text-center mt-3" width="80%">
        <img src="~/images/undraw_page_not_found_su7k.svg" alt="404page">
    </div>
</div>