@{
    ViewData["Title"] = "Error Page";
}


<div class="row justify-content-center">
    <h1 class="display-2">Error Page</h1>
    <div class="img-fluid text-center" width="80%">
        <img src="~/images/undraw_fixing_bugs_w7gi.svg" alt="errorpage">
    </div>
</div>