@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "Analyze the project";
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

@using Microsoft.AspNetCore.Antiforgery
@model RepositoryForm

<link src="~/lib/sweetalert2-10.13/dist/sweetalert2.css" rel="stylesheet"/>
<div>
    <form id="form" method="post" autocomplete="off">
        <div class="form-group">
            <label for="link">Link to project</label>
            <input type="url" class="form-control" id="link" name="url" placeholder="Link to github" pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?" required aria-required="true"/>
        </div>
        <div class="form-group">
            <label for="name">Project name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Project name" required/>
        </div>
        <div class="form-group">
            <label for="name">Branch</label>
            <select name="branch" id="branch" class="form-control" disabled>
                <option hidden selected></option>"
            </select>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/analysisScript.js"></script>
    <script src="~/lib/sweetalert2-10.13.0/dist/sweetalert2.all.min.js"></script>
}

