@{
    ViewData["Title"] = "Analyze the project";
}

@model RepositoryForm

<link src="~/lib/sweetalert2-10.13/dist/sweetalert2.css" rel="stylesheet"/>
<div>
    <form id="form" method="post">
        <div class="form-group">
            <label for="name">Project name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Project name" required/>
        </div>
        <div class="form-group">
            <label for="link">Link to project</label>
            <input type="url" class="form-control" id="link" name="url" placeholder="Link to github" pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?" required aria-required="true"/>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
    $(document).ready(function(){
    
         $('#form').validate({
                rules: {
                    name: {required:true},
                    link: {     
                        required: true,
                        url: true,
                        minLength:5
                    },
                },
                messages: {
                    name: "Please enter project name",
                    link: "Please enter link to repository",
                },
                errorClass: "text-danger",
                
                submitHandler: function(form) {
                    let name = $('#name').val();
                    let url = $('#link').val();
                     $.ajax({
                        method: "POST",
                        url: "/analysis/analysis",
                        data: {
                            name: name,
                            url: url
                        },
                        datatype: JSON, 
                        beforeSend: function() {
                             Swal.fire({
                                 imageUrl:"/images/loading_circle.svg",
                                 showConfirmButton: false,
                                 text:"The analysis is in progress and may take several minutes"
                             });      
                        },
                        success: function(response) {
                              Swal.fire(
                                 "Repository added",
                                 "The analysis is in progress and may take several minutes",
                                 'success'
                              );
                         },
                        error:function (response){
                            Swal.fire(
                              "Can not download repository",
                              "Please try again or check if the repository is set to public",
                              'error'
                            );
                        }
                     });
                     return false;
                }
          });
    });
 
</script>

}

<script src="~/lib/sweetalert2-10.13.0/dist/sweetalert2.all.min.js"></script>