@model ProjectQualityChecker.Models.Result.ListRepositories;
@{
    ViewData["Title"] = "Result";
}


<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row align-items-center">
            <div class="col-md-5">
                @Html.DropDownListFor(x => Model.Repositories, new SelectList(Model.Repositories, "RepositoryId", "Name"), "Select repository", new {@class = "form-control", id = "repository", required = true})
                @Html.ValidationMessageFor(x => x.Repositories, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-5">
                @Html.DropDownList("parent", Enumerable.Empty<SelectListItem>(), "Select branch", new
                {
                    @class =
                        "form-control",
                    id = "branches", required = true
                })
            </div>

            <div class="col-md-2">
                <button type="button" id="submitbutton" name="repository_confirm" class="btn btn-secondary" disabled>Select data</button>
            </div>
        </div>
    </div>
</div>

<div id="graphs">
    <div class="row justify-content-center my-5" id="chartImage">
        <div class="col-md-8 mt-5 img-fluid ">
            <img src="~/images/undraw_Charts_re_5qe9.svg" class="w-100" alt="chart">
        </div>
    </div>
    <div class="row justify-content-center my-5" style="display: none" id="chartImageError">
        <div class="col-md8 mt-2 text-center">
            <h3 class="display-6" style="color:#6f42c1;font-weight: 700; ">
                We couldn't match any metric to this project.<br>
                Please try to rescan project.
            </h3>
        </div>
        <div class="col-md-8 mt-5 text-center ">
            <img src="~/images/undraw_data_report_bi6l.svg" class="w-100 img-fluid mx-auto" height="auto" alt="dataError">
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/3.0.0-alpha.2/dist/chart.min.js"></script>
    <script src="~/js/jquery.scrollsync.js"></script>
    <script src="~/js/site.js"></script>
    <script >
     $('#repository').on('change',function () { 
         $('#branches').empty();
         if ($('#repository').val() == false) return;
          $.getJSON('@Url.Action("GetRepositoryBranches", "Repository")', { repositoryId: this.value }, function 
          (data) {
         $.each(data, function (i,item) {
                $('#branches').append($('<option>', { 
                   value:item.BranchId,
                   text :item.Name 
                }));  
             });
          });
        });
    </script>
}